* {
 box-sizing: border-box;
}

.row {
  margin-top: 30px;
}

#splash-effect {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/images/bw-splash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
	z-index: 9999;  /*Cuando usaba container no me dejaba ocultarlo*/
}

body {
  background-color: whitesmoke;
  color: brown;
  font-family: 'Lato', sans-serif;
}

h1, h5 {
  color: rgb(212, 61, 61);
  font-family: 'Leckerli One', sans-serif;
  margin: 20px auto;
}

h1 {
  font-size: 3.5em !important;
}

hr {
  display: block;
  border: 2px solid rosybrown;
  width: 90%;
}

iframe {
	height: 300px;
	width: 70%;
}

.rest {
  height: 25vh;
  margin: 30px 0;
}

.mouseover {
  color: orange;
  text-align: center;
}

